$default-font-color: lightgray;
$background-color: black;
$container-bgcolor: gray;
$container-bordercolor: black;
$textbox-bordercolor: black;
$button-textcolor: black;


@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: "Metal Mania", cursive;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
    background: url("/evhbackground.jpg");
    background-color: rgba(0,0,0,0.5);
    background-size: 100%;
    background-repeat: no-repeat;
    @include mq(320px) {
        font-size: 22px;
        background-size: 300%;
        background-repeat: no-repeat;
    }
    @include mq(768px) {
        font-size: 24px;
        background-size: 175%;
        background-repeat: no-repeat;
    }
    @include mq(1080px) {
        font-size: 26px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

body {
    padding: 20px;
}

section {
    width: 90%; 
    max-width: 700px;
    margin: auto;
}

