.fiveDayForecast h2 {
    text-align: center;
    font-size: 3rem;
    padding-top: 15px;
}

.fiveDayContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#singleFiveDay1,
#singleFiveDay2,
#singleFiveDay3,
#singleFiveDay4,
#singleFiveDay5 {
    padding-bottom: 5px;
}

#fiveDayIcon1,
#fiveDayIcon2,
#fiveDayIcon3,
#fiveDayIcon4,
#fiveDayIcon5 {
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    @include mq(320px) {
        width: 60%;
        height: auto;
    }
    @include mq(768px) {
        font-size: 1.2rem;
        width: 65%;
        height: auto;
    }
    @include mq(1080px) {
        font-size: 1.4rem;
        width: 75%;
        height: auto;
    }
}