.locationSearch {
    top: 0;
    margin-bottom: 1rem;
    padding: 0.75rem;

    form {
        display: flex;
        justify-content: space-between;

        // Safari, Chrome, Opera, placeholder font styles 
        ::-webkit-input-placeholder {
            font-family: "Metal Mania", cursive;
        }

        // Firefox placeholder font styles 
        ::-moz-placeholder {
            font-family: "Metal Mania", cursive;
        }

        label {
            position: absolute;
            left: -10000px;
        }

        input[type="text"] {
            width: 100%;
            font-size: 1.25rem;
            border: 2px solid black;
            border-radius: 5px;
            padding: 0.75rem;
            outline: none;
            font-family: "Metal Mania", cursive;
        }
     
        // Search input focus and hover styles
        input[type="text"]:focus,
        input[type="text"]:hover {
            box-shadow: 4px 2px 5px black;
        }

        // Search button styles
        button {
            font-size: 1.75rem;
            margin-left: 5px;
            @include mq(320px) {
                font-size: 0.75rem;
            }
            @include mq(768px) {
                font-size: 1.50rem;
            }
            @include mq(1080px) {
                font-size: 1.5rem;
            }
        }
    }

    #save {
        font-size: 2.5rem;
        margin-top: 5px;
        @include mq(320px) {
            font-size: 0.95rem;
        }
        @include mq(768px) {
            font-size: 1.50rem;
            max-width: 100px;
        }
        @include mq(1080px) {
            font-size: 1.75rem;
            max-width: 100px;
        }
    }
}