#currentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#currently {
    text-align: center;
    font-size: 3rem;
}

#currentTempIconArea {
    width: 40%;
    text-align: center;
}

#currentTempArea {
    font-size: 7rem;
    margin-left: 50px;
}

#currentTempIconArea, #currentTempArea {
    display: inline-block;
    padding: 2%;
}