.weatherToday {
    //min-height: 35vh;
    padding: 0.75rem;
    

    #currentTempIconArea {
        display: inline;
        justify-content: space-between;
        align-items: flex-end;
        width: 50%;
    }

    #currentTempArea {
        display: inline;
        justify-content: space-between;
        align-items: flex-end;
        margin: auto;
    }

    .currentStatArea {
        display: inline;
        justify-content: space-evenly;
    }

    hr {
        width: 100%;
        border: 1px solid gray;
    }
}