.weatherToday {
    min-height: 35vh;
    padding: 0.75rem;
    
    #currently {
        font-size: 45px;
    }

    #currentTempIconArea {
        display: inline;
        justify-content: space-between;
        height: auto;
        max-width: 60%;
        width: 50%;
    }


    #currentTempArea {
        display: block;
        justify-content: space-between;
        margin: auto;
        align-content: center;
        text-align: center;
    }

    .currentStatArea {
        display: inline;
        justify-content: space-evenly;
    }

    hr {
        width: 100%;
        border: 1px solid gray;
    }
}